Repository gradle-dependency-analyze/gradle-dependency-analyze, pull requests merged in 2021-02, with the labels that each got.

#127 Add GitHub Actions
  .circleci/config.yml
  .github/workflows/build.yml
  .travis.yml
Labels: enhancement

#126 Do not use an internal API classes
  src/main/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesTask.groovy
Labels: bug

#128 Create dependabot configuration file
  .github/dependabot.yml
Labels: enhancement

#116 fix: remove deprecated maven plugin and compile -> implementation
  build.gradle
Labels: enhancement, gradle

#134 Create a workflow for Gradle warpper validation
  .github/workflows/gradle-wrapper-validation.yml
Labels: enhancement, gradle

#135 Upgrade gradle
  .github/workflows/update-gradle-wrapper.yml
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: dependencies, enhancement, github-actions, gradle

#136 Update Gradle Wrapper from 6.8.1 to 6.8.2
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle, gradle-wrapper

#137 Add Release Drafter GitHub action
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: github-actions

#121 Instrument all sourcesets
  README.md
  src/main/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPlugin.groovy
Labels: enhancement

#141 Consider java-test-fixtures plugin dependencies
  src/main/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPlugin.groovy
  src/main/groovy/ca/cutterslade/gradle/analyze/ProjectDependencyResolver.groovy
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginBaseSpec.groovy
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginJavaTestFixturesSpec.groovy
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginSpec.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GradleDependency.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GradleProject.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GroovyClass.groovy
Labels: bug

#143 Update Gradle Wrapper from 6.8.2 to 6.8.3
  gradle/wrapper/gradle-wrapper.properties
Labels: dependencies, gradle, gradle-wrapper

#144 Test improvements
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginBaseSpec.groovy
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginJavaTestFixturesSpec.groovy
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginSpec.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GradleProject.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GroovyClass.groovy
Labels: enhancement

#145 Add code coverage information
  .github/workflows/coverage.yml
  README.md
  build.gradle
  src/test/groovy/ca.cutterslade.gradle.analyze/AnalyzeDependenciesPluginBaseSpec.groovy
Labels: github-actions

#146 Add automerge action for labeled pull requests
  .github/workflows/automatic-merge.yml
  .github/workflows/coverage.yml
Labels: github-actions

#150 Test basic functionality with different Gradle version
  .github/workflows/build.yml
  .github/workflows/coverage.yml
  build.gradle
  src/test/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPluginBaseSpec.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPluginGradleSpec.groovy
Labels: enhancement
