Repository gradle-dependency-analyze/gradle-dependency-analyze, pull requests merged in 2021-09, with the labels that each got.

#215 Separate warning flags for unusedDeclared & usedUndeclared
  README.md
  src/main/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesTask.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPluginTaskConfigurationSpec.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GradleProject.groovy
Labels: enhancement, feature, minor

#193 providedRuntime configuration
  src/main/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPlugin.groovy
  src/main/groovy/ca/cutterslade/gradle/analyze/util/GradleVersionUtil.java
  src/test/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPluginBaseSpec.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPluginGradleSpec.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/helper/GradleProject.groovy
Labels: bug, wontfix, gradle

#219 add super-linter to GitHub actions
  .github/linters/.markdown-lint.yml
  .github/workflows/linter.yml
  README.md
Labels: enhancement, github-actions, documentation, minor

#221 fix message about broken Gradle war plugin
  src/main/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPlugin.groovy
  src/test/groovy/ca/cutterslade/gradle/analyze/AnalyzeDependenciesPluginGradleSpec.groovy
Labels: bug, bugfix, patch

#223 Create codeql-analysis.yml
  .github/workflows/codeql-analysis.yml
Labels: enhancement, github-actions
